.ipynb_checkpoints/
breadth_cache/
__pycache__/
*.pyc
*.log
*.tmp
~$*.docx
~$*.pptx
.DS_Store
Thumbs.db
desktop.ini

Final AHST_2DayClass.pptx
*.zip

Final AHST_2DayClass.pptx
*.zip

Final AHST_2DayClass.pptx
*.zip

Final AHST_2DayClass.pptx
*.zip

Final AHST_2DayClass.pptx
*.zip
AHST_Class/ 
